/* Orange color for light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme=light],
:root:not([data-theme=dark]) {
  --pico-text-selection-color: #ccd0da; /*Surface 0*/
  --pico-primary:#8839ef;              /*Mauve*/
  --pico-color: #4c4f69;                /*Text*/
  --pico-background-color: #eff1f5;    /*Base*/
  --pico-primary-background:#e6e9ef;  /*Mantle*/
  --pico-primary-underline: #209fb5;   /*Sapphire*/
  --pico-primary-hover: #7287fd; /*Lavander*/
  --pico-primary-hover-background: #1e66f5; /*Blue*/
  --pico-primary-focus: #179299;             /*Teal*/
  --pico-primary-inverse: #5c5f77; /*SubText1*/
}

/* Orange color for dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
  --pico-text-selection-color:  #313244; /*Surface 0*/
  --pico-primary: #cba6f7;              /*Mauve*/
  --pico-color: #cdd6f4;                /*Text*/
  --pico-background-color: #1e1e2e;    /*Base*/
  --pico-primary-background: #181825;  /*Mantle*/
  --pico-primary-underline: #74c7ec;   /*Sapphire*/
  --pico-primary-hover: #b4befe; /*Lavander*/
  --pico-primary-hover-background: #89b4fa; /*Blue*/
  --pico-primary-focus: #94e2d5;             /*Teal*/
  --pico-primary-inverse: #bac2de; /*SubText1*/
  }
}

@media only screen and (prefers-color-scheme: light) {
  :root:not([data-theme]) {
--pico-text-selection-color: #ccd0da; /*Surface 0*/
  --pico-primary:#8839ef;              /*Mauve*/
  --pico-color: #4c4f69;                /*Text*/
  --pico-background-color: #eff1f5;    /*Base*/
  --pico-primary-background:#e6e9ef;  /*Mantle*/
  --pico-primary-underline: #209fb5;   /*Sapphire*/
  --pico-primary-hover: #7287fd; /*Lavander*/
  --pico-primary-hover-background: #1e66f5; /*Blue*/
  --pico-primary-focus: #179299;             /*Teal*/
  --pico-primary-inverse: #5c5f77; /*SubText1*/
  }
}


/* Orange color for dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme=dark] {
  --pico-text-selection-color: #313244; /*Surface 0*/
  --pico-primary: #cba6f7;              /*Mauve*/
  --pico-color: #cdd6f4;                /*Text*/
  --pico-background-color: #1e1e2e;    /*Base*/
  --pico-primary-background: #181825;  /*Mantle*/
  --pico-primary-underline: #74c7ec;   /*Sapphire*/
  --pico-primary-hover: #b4befe; /*Lavander*/
  --pico-primary-hover-background: #89b4fa; /*Blue*/
  --pico-primary-focus: #94e2d5;             /*Teal*/
  --pico-primary-inverse: #bac2de; /*SubText1*/
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }

@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@6.2/distr/fira_code.css);

:root{
  font-family: 'Fira Code', monospace;
  --pico-font-family-sans-serif: 'Fira Code', monospace;
  --pico-font-family: var(--pico-font-family-sans-serif);
}
