<div class="syntax">
    <pre><span></span><span class="ch">#!/usr/bin/env ruby</span>

<span class="n">before</span><span class="w"> </span><span class="s1">&#39;deploy:starting&#39;</span><span class="p">,</span><span class="w"> </span><span class="ss">:uptime</span>
<span class="n">before</span><span class="w"> </span><span class="s1">&#39;deploy:starting&#39;</span><span class="p">,</span><span class="w"> </span><span class="ss">:gitpush</span>


<span class="n">after</span><span class="w"> </span><span class="s1">&#39;deploy:updated&#39;</span><span class="p">,</span><span class="w"> </span><span class="s1">&#39;pygments:pygmentsSetup&#39;</span>
</pre>
</div>
