<div class="syntax">
    <pre><span></span><span class="ch">#!/usr/bin/env ruby</span>

<span class="n">namespace</span><span class="w"> </span><span class="ss">:pygments</span><span class="w"> </span><span class="k">do</span>
<span class="w">  </span><span class="no">ARRAY</span><span class="o">=</span><span class="sx">%w{config.el packages.el init.el}</span><span class="p">;</span>
<span class="w">  </span><span class="n">desc</span><span class="w"> </span><span class="s2">&quot;Runs pygments on config files&quot;</span>
<span class="w">  </span><span class="n">task</span><span class="w"> </span><span class="ss">:pygmentsSetup</span><span class="w"> </span><span class="k">do</span>
<span class="w">    </span><span class="n">on</span><span class="w"> </span><span class="n">roles</span><span class="p">(</span><span class="ss">:all</span><span class="p">)</span><span class="w"> </span><span class="k">do</span><span class="w"> </span><span class="o">|</span><span class="n">host</span><span class="o">|</span>
<span class="w">      </span><span class="n">info</span><span class="w"> </span><span class="s2">&quot;Running pygments on </span><span class="si">#{</span><span class="n">host</span><span class="si">}</span><span class="s2">&quot;</span>
<span class="w">      </span><span class="no">ARRAY</span><span class="o">.</span><span class="n">each</span><span class="w"> </span><span class="k">do</span><span class="w"> </span><span class="o">|</span><span class="n">file</span><span class="o">|</span>
<span class="w">        </span><span class="n">info</span><span class="w"> </span><span class="s2">&quot;running pygmentize on </span><span class="si">#{</span><span class="n">file</span><span class="si">}</span><span class="s2">&quot;</span>
<span class="w">        </span><span class="n">dirPath</span><span class="w"> </span><span class="o">=</span><span class="s2">&quot;</span><span class="si">#{</span><span class="n">release_path</span><span class="si">}</span><span class="s2">/</span><span class="si">#{</span><span class="n">file</span><span class="si">}</span><span class="s2">&quot;</span>
<span class="w">        </span><span class="n">dirPathHTML</span><span class="o">=</span><span class="s2">&quot;</span><span class="si">#{</span><span class="n">dirPath</span><span class="si">}</span><span class="s2">.html&quot;</span>
<span class="w">        </span><span class="n">execute</span><span class="w"> </span><span class="ss">:pygmentize</span><span class="p">,</span><span class="w"> </span><span class="s2">&quot;</span><span class="si">#{</span><span class="n">dirPath</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">,</span><span class="w"> </span><span class="s2">&quot;-O&quot;</span><span class="p">,</span><span class="w"> </span><span class="s2">&quot;cssclass=syntax&quot;</span><span class="p">,</span><span class="w"> </span><span class="s2">&quot;-o&quot;</span><span class="p">,</span><span class="w"> </span><span class="s2">&quot;</span><span class="si">#{</span><span class="n">dirPathHTML</span><span class="si">}</span><span class="s2">&quot;</span>

<span class="w">      </span><span class="k">end</span>
<span class="w">    </span><span class="k">end</span>
<span class="w">    </span><span class="n">invoke</span><span class="p">(</span><span class="ss">:cpPressri</span><span class="p">)</span>
<span class="w">  </span><span class="k">end</span>
<span class="k">end</span>
</pre>
</div>
